/* Sticky footer styles
-------------------------------------------------- */
html {
    position: relative;
    min-height: 100%;
}

.navbar-nav {
    padding-left: 45%;
    padding-right: 55%;
}

.cadre {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin-top: 150px;
}

body {
    /* Margin bottom by footer height */
    margin-bottom: 60px;
}

body > .container {
    padding: 60px 15px 0;
}

.footer > .container {
    padding-right: 15px;
    padding-left: 15px;
}

code {
    font-size: 80%;
}

#boubou {
    color: white;
    font-size: x-large;

}



